@model Product

<div class="card mb-3">
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="~/img/laptop.png" class="card-img">
            </div>
            <div class="col-md-9">

                <h5 class="card-title">@Model.Baslik</h5>
                <p class="card-text">n11 : @Model.NFiyat</p>
                <p class="card-text">Teknosa : @Model.TeFiyat</p>
                <p class="card-text">Trendyol : @Model.TrFiyat</p>
                <p class="card-text">Hepsiburada : @Model.HFiyat</p>
                <p class="card-text">Marka : @Model.Marka</p>
                <p class="card-text">Model : @Model.Model</p>
                <p class="card-text">Ekran Boyutu : @Model.EkranBoyutu</p>
                <p class="card-text">Ekran Kartı : @Model.EkranKarti</p>
                <p class="card-text">İşlemci Modeli : @Model.IslemciModeli</p>
                <p class="card-text">İşletim Sistemi : @Model.IsletimSistemi</p>
                <p class="card-text">DiskKapasitesi : @Model.DiskKapasitesi</p>
                <p class="card-text">BellekKapasitesi : @Model.BellekKapasitesi</p>
                <p class="card-text">Disk Türü : @Model.DiskTuru</p>
                <p class="card-text">Puan : @Model.Puan</p>



            </div>
        </div>
    </div>
</div>